
body {
    background-color: cyan;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;

}
table{
    border-color: indigo;
    background-color: grey;
    width: 40%;
}

th,td{
    border-color: hotpink;
    border: 1px solid blueviolet;
}

.msg{
    background-color: red;
    color: black;
}